{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load plinth_extras %}
{% load static %}

{% block container %}
  <div class="container content-container">
    {% block content_row %}

      {% include 'messages.html' %}

      {% block content %}

        {% block pagetitle %}
          <h2>{{ title }}</h2>
        {% endblock %}

        {% block description %}
          {% for paragraph in description %}
            <p>{{ paragraph|safe }}</p>
          {% endfor %}
        {% endblock %}

        {% if manual_page %}
          <p class="manual-page">
            <a href="{% url 'help:manual-page' manual_page %}">
              {% trans 'Learn more...' %}
            </a>
          </p>
        {% endif %}

        {% include "clients.html" with clients=clients enabled=service.is_enabled %}

        {% block subsubmenu %}
          {% if subsubmenu %}
            {% show_subsubmenu subsubmenu %}
          {% endif %}
        {% endblock %}

        {% block configuration %}
        {% endblock %}
      {% endblock %}

    {% endblock %}
  </div>
{% endblock %}
