{% extends 'help_base.html' %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}
{% load static %}

{% block content %}

  <p class="text-center">
    <img src="{% static 'theme/img/freedombox-logo-250px.png' %}"
         class="main-graphic" />
  </p>

  <p>
    {% blocktrans trimmed %}
      {{ box_name }} is a community project to develop, design and
      promote personal servers running free software for private,
      personal communications.  It is a networking appliance designed
      to allow interfacing with the rest of the Internet under
      conditions of protected privacy and data security.  It hosts
      applications such as blog, wiki, website, social network, email,
      web proxy and a Tor relay, on a device that can replace your
      Wi-Fi router, so that your data stays with you.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      We live in a world where our use of the network is mediated by
      those who often do not have our best interests at heart.  By
      building software that does not rely on a central service, we
      can regain control and privacy.  By keeping our data in our
      homes, we gain useful legal protections over it.  By giving back
      power to the users over their networks and machines, we are
      returning the Internet to its intended peer-to-peer
      architecture.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      There are a number of projects working to realize a future of
      distributed services; {{ box_name }} aims to bring them all
      together in a convenient package.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      For more information about the {{ box_name }} project, see the
      <a href="https://wiki.debian.org/FreedomBox">{{ box_name }}
      Wiki</a>.
    {% endblocktrans %}
  </p>

  <p><a class="btn btn-primary btn-lg"
        href="https://wiki.debian.org/FreedomBox"
        target="_blank">{% trans "Learn more &raquo;" %}</a></p>

  <p style='margin-top:30px'>
    {% blocktrans trimmed %}
      You are running {{ os_release }} and {{ box_name }} version {{ version }}.
    {% endblocktrans %}

    {% if new_version %}
      {% blocktrans trimmed %}
        There is a new {{ box_name }} version available.
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed %}
        {{ box_name }} is up to date.
      {% endblocktrans %}
    {% endif %}
  </p>

{% endblock %}
